<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoSales</title>
</head>
<body style="margin: 0px; background-color: burlywood">
<header style="padding: 15px; background-color: aquamarine">
    <span style="font-size: 30px; margin-left: 15%"><a style="color: black; text-decoration: none" th:href="@{/}">AutoSales</a></span>
</header>

<div style="width: 80%; background-color: bisque; margin: 0 auto;">
    <div style="width: 95%; margin: 15px auto;">
        <div th:each="announcement : ${announcements}">
            <h4 th:utext="${announcement.getBrand()}">heading</h4>
            <p th:utext="${announcement.getModel()}">content</p>
            <p th:utext="${announcement.getDescription()}"></p>
        </div>
        <div>
            <p>
                <span th:if="${pageNumber > 1}">
                    <a th:href="@{/(page=${(pageNumber -1)})}"><<</a>
                </span>
                <span th:utext="${pageNumber}"></span>
                <span> from </span>
                <span th:utext="${numOfPages}"></span>
                <span th:if="${pageNumber < numOfPages}">
                    <a th:href="@{/(page=${(pageNumber +1)})}">>></a>
                </span>
            </p>
        </div>
    </div>
</div>


</body>
</html>